{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
<a href="#" onClick=history.back(); class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading">
          Email notifications

        </h1>
      </legend>
      <form class="form" action="/email-notifications" method="post">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

              </legend>
              <span id="how-contacted-conditional-hint" class="govuk-hint">
                Please specify which of the people below need email notifications
                or tracking details regarding this shipment.
              </span>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="transport-fees-conditional" name="transport-fees" type="radio" value="text" data-aria-controls="conditional-transport-fees-conditional">
                  <label class="govuk-label govuk-radios__label" for="conditional-transport-fees-conditional">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="transport-fees-conditional-2" name="transport-fees" type="radio" value="text" data-aria-controls="conditional-transport-fees-conditional-2">
                  <label class="govuk-label govuk-radios__label" for="conditional-transport-fees-conditional-2">
                    No, we will supply
                  </label>
                </div>




                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-transport-fees-conditional-2">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="sort">
                      Type
                    </label>
                    <select class="govuk-select" id="sort" name="sort">
                      <option value="published" selected>Envelope</option>
                      <option value="updated">Cardboard box</option>
                      <option value="updated">Special crybox</option>
                    </select>
                    <label class="govuk-label" for="sort">
                      Quantity
                    </label>
                    <select class="govuk-select" id="sort" name="sort">
                      <option value="published" selected>1</option>
                      <option value="updated">2</option>
                    </select>
                  </div>

                </div>


                </div>

              </div>
            </fieldset>

            <button class="govuk-button" data-module="govuk-button">Continue</button>
          </form>
        </div>
        {% block stepByStepNav %}
        {% include "includes/step-by-step-nav.html" %}
        {% endblock %}
      </div>
      {% endblock %}
