{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block navClass %} receiver {% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Send a biological shipment
    </h1>

    <p>Use this service to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>do something</li>
      <li>update your name, address or other details</li>
      <li>do something else</li>
    </ul>

    <a href="/receiver" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
      </svg>
    </a>

  </div>

    {% block stepByStepNav %}
    {% include "includes/step-by-step-nav.html" %}
    {% endblock %}
  </div>
  {% endblock %}
