{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
<a href="#" onClick=history.back(); class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/permits-answer" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Permits
              </h1>
            </legend>

            <span id="changed-name-hint" class="govuk-hint">

    Is an import permit required for entry into the receiving country?

            </span>
            <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        You must check this with your receiving collaborator.
        </strong>
        </div>

        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="how-contacted-conditional" name="permits" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional">
            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
              Yes
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional">
            <div class="govuk-form-group">
              <label class="govuk-label" for="file-upload-1">
                Please upload your import permit
              </label>
              <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="how-contacted-conditional-2" name="permits" type="radio" value="phone" data-aria-controls="conditional-how-contacted-conditional-2">
            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
              No
            </label>
          </div>


          </div>
        </fieldset>




      </div>
      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
</div>
{% block stepByStepNav %}
{% include "includes/step-by-step-nav.html" %}
{% endblock %}
</div>
{% endblock %}
